* {
	font-family: sans-serif;
}

html, body {
  height: 100%;
}

#calc-container {
	display: flex;
	flex-direction: column;
	width: 30%;
	height: 80%;
	margin: auto;
}

@media (max-width: 600px) {
	#calc-container {
	width: 90%;
	height: 70%;
	}
}

#calc-button-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	flex-grow: 1;
	gap: 10px;
}

#calc-display {
	text-align: right;
	margin: 1.4em;
	font-size: 1.5em;
}

#expression-display {
	text-align: right;
	opacity: 0.5;
	font-size: 1.3em;
}
